// Backend to point too
VITE_API=https://flowback.com
VITE_WEBSOCKET_API=wss://flowback.com

// DEV or PROD
PUBLIC_MODE=PROD

// For disabling group creation
// Important: Only disables the create button display and needs to be disabled in the backend aswell
PUBLIC_DISABLE_GROUP_CREATION=false

// Logo, either "DEFAULT" or "REFORUM"
PUBLIC_LOGO=DEFAULT

// Determines if API requests have an /api/ at the start
PUBLIC_HAS_API=TRUE

// Determines if images has a /api/ in their URL. If you\'re not seeing images, try turning this on.
PUBLIC_IMAGE_HAS_API=TRUE

// Determines whether the flowback instance will only have one group
VITE_ONE_GROUP_FLOWBACK=FALSE