.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
!.env.dev.example
!.env.prod.example
.vercel
.output
src/lib/typescriptexperiments.ts
.env
src/lib/assets/Default_pfp.png
/src/app.html
/.src/app.html
./src/app.html
src/app.html
backend.bash
setup2.bat
venv
measure.py
test-results
/test-results
./test-results
tests/Post.test.ts-snapshots
tests/screenshots