.calendar {
    display: grid;
    grid-template-columns: repeat(7, clamp(40px, 8vw, 100px));
    grid-template-rows: repeat(7, clamp(40px, 8vw, 100px));
}

.calendar-day {
    display: flex;
    justify-content: center;
    align-items: center;
}

.today {
    background: blue;
}

.selected {
    background: green;
}