@import '@fontsource/fira-mono';
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    font-family: system-ui, Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-mono: 'Fira Mono', monospace;
    --primary-color: #015BC0;
    --secondary-color: #419EDA;
    --background-color: #F1EEF9;
    --accent-color: #B664E9;
    --heading-color: rgba(0, 0, 0, 0.7);
    --text-color: #2a2a2a;
    --background-without-opacity: #2a2a2a;
    --column-width: 42rem;
    --column-margin-top: 4rem;
    --darkmode-text-color: #e1e1e1;
    --darkmode-background-color: rgb(51 65 85);
    --darkmode-object-color: rgb(71 85 105);
    overflow-x: hidden;
}

html {
    scrollbar-gutter: stable;
}

body {
    /* min-height: 100vh; */
    margin: 0;
    background: rgb(250 245 255);
}

body::before {
    content: '';
    width: 80vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 10vw;
    z-index: -1;
    /* background: radial-gradient( 50% 50% at 50% 50%, var(--pure-white) 0%, rgba(255, 255, 255, 0) 100%); */
    opacity: 0.05;
}

#svelte {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,
h2,
p {
    font-weight: 400;
}

p {
    line-height: 1.5;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1rem;
}

pre {
    font-size: 16px;
    font-family: var(--font-mono);
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 3px;
    box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
    padding: 0.5em;
    overflow-x: auto;
    color: var(--text-color);
}

input,
button {
    font-size: inherit;
    font-family: inherit;
}

button:focus:not(:focus-visible) {
    outline: none;
}

@media (min-width: 720px) {
    h1 {
        font-size: 2.4rem;
    }
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}